# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# image
/public/dev/
/public/sitemap.xml
/public/robots.txt

install-state.gz

niikei-39d3f-466153f0ce0d.json
niikei-391305-335457312a7a.json
ordinal-bucksaw-387707-7aa3ad71a69c.json
.firebase

mp3text-fixed.mp3
mp3text.mp3-fixed.mp3
